 <configuration>
   <location path="default.html">
     <system.webServer>
       <httpRedirect enabled="true" destination="default.asp" httpResponseStatus="Permanent" />
     </system.webServer>
   </location>
	 <location path="events.html">
     <system.webServer>
       <httpRedirect enabled="true" destination="events.asp" httpResponseStatus="Permanent" />
     </system.webServer>
   </location>
	 <location path="members.html">
     <system.webServer>
       <httpRedirect enabled="true" destination="news_and_views.asp" httpResponseStatus="Permanent" />
     </system.webServer>
   </location>
	 	<location path="walksprogramme.html">
     <system.webServer>
       <httpRedirect enabled="true" destination="walks_programme.asp" httpResponseStatus="Permanent" />
     </system.webServer>
   </location>
	 <location path="meetings.html">
     <system.webServer>
       <httpRedirect enabled="true" destination="documents.asp" httpResponseStatus="Permanent" />
     </system.webServer>
   </location>
	 <location path="gallery.html">
     <system.webServer>
       <httpRedirect enabled="true" destination="gallery.asp" httpResponseStatus="Permanent" />
     </system.webServer>
   </location>
	 <location path="photos.asp">
     <system.webServer>
       <httpRedirect enabled="true" destination="gallery.asp" httpResponseStatus="Permanent" />
     </system.webServer>
   </location>
 </configuration>